@import '~style/helpers';

.container { 
	background-image: url('../../assets/backgrounds/blue.jpg');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 15px;
	margin: 0 auto;
}
.header {

}
.details {
}
.city {
	font-size: 1.7em;
	font-weight: 400;
	display: inline-block;
	position: fixed;
	top: 0;
}
.conditions {
	font-size: 20px;
	padding-bottom: 3em;
}
.temperature {
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -5px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	vertical-align: top;
}

nav{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15em;
	align-items: center;
	text-align: center;
	margin: 0;
}

.leftGrid{
	grid-column: 1;
	
}



.rightGrid{
	grid-column: 2;
}


.settings{
	width:37px;
	height:37px;
	align-items: center;
	margin: 0;
}

.weatherIcons{
	width:74px;
	height:74px;
	align-items: center;
	margin: 0;
	top: 13em;
	right: 45%;
}

.forecastIcons{
	width:37px;
	height:37px;
}


.forecastList{
	list-style-type: none;
	display: inline-flex;
	padding-left: 0%;
	margin-left: 0%;

}

.forecastList li{
	list-style-type: none;
}
#location{
	text-decoration: none;
	right: 30em;
	font-weight: bold;
	color: #fff;
	font-size: 30px;

}
.calender{
height: 5em;
width: 5em;
}
.buttonn{
background-color: transparent;
background: transparent;
border: none;
}